#msg_erro {
	color: red;
	font-size: 0.8em;	
}

.quadroCEP{
	border: 1px solid black;
	width: 500px;
	padding: 5px;
	margin-top: 10px;
}

.quadroCEP .msg_erro{
	color: red;
	font-size: 0.8em;	
}

.quadroCEP div{	
	margin-top: 5px;	
}

.quadroCEP div label{
	width: 60px;
	display: inline-block;
}